* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  background-color: rgb(240, 225, 225);
}

.hero {
  background-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0)), url("../image/background-img.png");
  background-size: cover;
  background-position: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh
}

.hero-text {
  color: #ffffff;
  text-align: center;
  text-shadow: 3px 3px 4px #614040;
  font-family: 'Caveat', cursive;
}

h1 {
  font-size: 100px;
}

.hero-text h3{
  font-size: 60px;
}


.card-footer {
  background-color: rgb(51, 29, 29);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.comment-cont{
  display: flex;
}

.card-img-top{
  width:40%;
}
.comment-icon-format {
  position: relative;
  text-decoration: none;
}

.collapse{
  width: 100%;
}

.comment-pill {
  font-size: .40em;
}


.emoji-pill-format {
  transform: translate(-50%, -60%);
  text-decoration: none;
}

.emoji-btn-format {
  border: none;
  background: none;
  margin-left: 10px;
}

.textarea-format {
  width: 100%;
  margin-top: 10px;
}

/*Landing page new article button*/

.article-btn a{
 text-decoration: none;
 color: #fff;
}

.article-btn button {

  width: 220px;
  text-decoration: none;
  display: inline-block;
  margin: 0 15px;
  padding: 12px 0;
  color: #fff;
  border: 0.5px solid #fff;
  position: relative;
  z-index: 1;
  transition: color 0.5s;
  margin-top: 60px;
  border-radius: 50px;

}




.article-btn button:hover span {
  width: 100%;
}



/* Media query for h1 text */

@media screen and (max-width: 900px) {
  .hero-text {
    font-size: 44px;
  }
}

@media screen and (max-width: 680px) {
  .hero-text {
    font-size: 38px;
  }
}

@media screen and (max-width: 550px) {
  .hero-text {
    font-size: 32px;
  }

  .article-btn {
    display: flex;
    flex-direction: column;

  }


}

/* Footer section */

footer {
  padding: 20px 0;
  background: rgb(240, 240, 240);
  position: relative;

  margin-top: 30px;
}

footer a {
  text-decoration: none;
}

.social-links {
  text-align: center;
  font-size: 12px;

}
